<form action="">
    <label for="">Titulo:</label><input type="text" name="titulo">
    <label for="">Conteúdo:</label>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
<!--doc  -->
